<launch>
 <node pkg="imu_complementary_filter" type="complementary_filter_node" name="complementary_filter_gain_node" output="screen" respawn="false" >
    <param name="use_mag" value="true" />
    <param name="do_adaptive_gain" value="true" />
    <param name="publish_tf" value="false" />
    <param name="publish_debug_topics" value="true" />
    <param name="gain_acc" value="0.02" />
    <param name="gain_mag" value="0.01" />
    <param name="bias_alpha" value="0.4" />
    <remap from="/imu/data" to="/imu/complementary" />
 </node>
 <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_madgwick" output="screen" respawn="false" >
    <param name="world_frame" value="nwu" />
    <param name="use_mag" value="true" />
    <param name="use_magnetic_field_msg" value="true" />
    <param name="publish_tf" value="false" />
    <param name="publish_debug_topics" value="true" />
    <remap from="/imu/data" to="/imu/madgwick" />
 </node>
 <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 /map /odom 100"/>
 <node pkg="tf" type="static_transform_publisher" name="odom_to_base_imu_link_madgwick" args="0.3 0 0 0 0 0 /odom /base_imu_link_madgwick 100"/>
 <node pkg="tf" type="static_transform_publisher" name="odom_to_base_imu_link" args="0 0 0 0 0 0 /odom /base_imu_link 100"/>
</launch>
